

#upcoming {
	border-top: 3px solid white;
}

.showCard {
	width: 290px;
	height:290px;
	display: inline-block;
	margin: 10px;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	vertical-align: bottom;
	position: relative;
	font-family: 'Comfortaa', cursive;
	box-shadow: 5px 5px 15px 1px black;
}

.available {
	background-color: rgba(0,145,0,.7);
}

.unavailable {
	background-color: rgba(145,0,0,.7);
}

.buyTicket {
	font-size: 1.3em;
	font-weight: 700;
	background-color: rgba(0,0,0,.2);
	border-radius: 10px;
	padding:5px;
}

#tabs {
	 text-shadow: none;
}

.showCard > div {
	margin: 10px auto;
	width: 250px;
	text-shadow: none;
}

.cardName::-webkit-scrollbar { 
    display: none; 
}

.cardVenue::-webkit-scrollbar { 
    display: none; 
}
.cardName {
	font-size: 1.5em;
	font-weight: bold;
	color: white;
	padding: 5px;
	background-color: rgba(0,0,0,.3);
	border-radius: 5px;
	box-shadow: 0px 0px 5px 1px black;
	height: 45px;
	overflow-y: scroll;
	white-space: nowrap;
}

.cardDate {
	border-top:2px solid black;
	border-bottom:2px solid black;
	background: radial-gradient(rgba(255,255,255,.7), rgba(255,255,255,.1), rgba(255,255,255,0));

}

.cardVenue {
	font-size: 1.7em;
	width: 270px;
    height: 100px;
    line-height: 85px;
    padding: 5px;
    text-align: center;
    background-color: rgba(0,0,0,.3);
    border-radius: 15px;
    color: white;
    overflow-x: scroll;
    box-shadow: 0px 0px 5px 1px black inset;
    border:1px solid rgba(0,0,0,.5);
}

.cardLocation {
	width: 270px !important;
	position: absolute;
	font-size: 1.2em;
	bottom: 35px;
}

.cardTicket {
	width: 270px !important;
	position: absolute;
	bottom: 0px;
}

.showCard > div > p {
	margin: 0px;
	vertical-align: middle;
    line-height: 29px;
    display: inline-block;
}

#tabOne, #tabTwo {
  width: 100%;
  text-shadow: none;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5em;
}